<div class="container">
    <div class="title-bar">
        <img class="ico" src="/assets/icons/pars-pack.webp" alt="پارس-پک">
        <span class="text">نقشه کاربران</span>
    </div>
    <div class="header-content"></div>
    <div class="user-account">
        
        <div class="user-profile">
            <div class="user-img">
                <img class="ico"
                     src="/assets/icons/user.png"
                     alt="تصویر کاربر">
            </div>
            <div class="user-name">
                <div>مسلم شاهسون</div>
            </div>
            <div class="user-email en-text">
                m90k7@outlook.com
            </div>
        </div>
    </div>
</div>